

#mobile {
  display: flex;
  flex-direction: column;
  left: 0;
  top: 0;
  background: #f7f7f9;
  
}

.overlay {
  position: fixed;  
  top: 0;
  left: 0;
  top: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;  
  backdrop-filter: blur(8px);
  background: #6070FF;
  z-index: 1;
  mix-blend-mode: multiply;
   
}

.overlay-bar {
  position: absolute;
  height: 44px;
  display: flex;
  align-items: flex-start;
  justify-content: end;

left: 0px;
right: 15px;
top: 8px;
bottom: 0px;
margin-right: 24px;
}

.overlay-bar img {
  cursor: pointer;
}

.overlay-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 32px;
  position: absolute;
  width: 351px;
  height: 184px;
  left: 12px;
  margin-top: 0;
  top: 52px;
  padding: 16px 16px;
}

.overlay-list li {
  
  height: 40px;
  left: 16px;
}

.overlay-list li a {
  text-decoration: none;
/* Theme 1 / H3 */

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 44px;
/* or 138% */

display: flex;
align-items: center;

/* Theme 1 / Neutrals 11 */

color: #FFFFFF;
}

.overlay-home-shape {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  height: 94%;
  padding: 21px 0 8px 0;
}


#mobile-header {
  display: flex;
  flex-direction: column;
  left: 0;
  top: 0;
  background: white;
  border-bottom-left-radius: 100px;
  
}

nav {
  display: flex;
  flex-direction: row;
  left: 0;
  top: 0;
  align-items: center;
  justify-content: space-between;
}

.mobile-logo-placeholder {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  margin-left: 24px;
}

.mobile-button-placeholder {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px;
  margin-right: 36px;
  cursor: pointer
}

#mobile-bg {
  display: flex;
  flex-direction: column;
  left: 0;
  top: 0;
  background-image: url("img/header-shapes mobile@2x.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  border-bottom-left-radius: 100px;
}

#mobile-headline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 114px 24px;
  gap: 12px;
}

.primary-text-title {
  /* Header / 2 */
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;

  /* or 130% */

  display: flex;
  align-items: center;

  /* Neutrals/N800 */

  color: #172b4d;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.primary-text-paragraph {
  /* Body / 2 */
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  /* or 150% */

  /* Neutrals/N600 */

  color: #344563;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.mobile-headline-supporting-text {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 16px;
  height: 24px;

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
}

.mobile-headline-supporting-text h2 {
  margin: 0;

  /* LET’S CONNECT */

  height: 24px;

  /* Body / 2 - Bolder */

  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  /* identical to box height, or 150% */

  /* Primary/B300 */

  color: #7f8cff;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.mobile-social-media-icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  padding: 0;
  justify-content: space-between;
  margin: 0;
  gap: 20px;
  height: 20px;

  /* Inside auto layout */

  flex: none;
  order: 3;
}

.grid-mobile {
  display: grid;
  gap: 88px;
  grid-area: 1 / 1 / 2 / 2;
  padding: 114px 24px;
  margin: 0;
}

.works-cards {
  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 12px;
  width: 100%;

  /* Neutrals/N0 */

  background: #fff;

  /* Neutrals/N40 */

  border: 1px solid #dfe1e6;
  border-radius: 16px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.Snapshoot {
  display: flex;
  flex-direction: column;
  border-radius: 8px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.left-block {
  /* Left Block */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 12px;
  background-color: #fff;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.primary-text {
  /* Primary Text */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 12px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.project-title {
  /* Project Title */
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;

  /* or 138% */

  /* Neutrals/N800 */

  color: #172b4d;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.frame-2 {
  /* Frame 2 */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 12px;
  list-style: none;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.client {
  /* Text */

  width: 55px;
  height: 16px;

  /* Caption / 1 - Bolder */

  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;

  /* identical to box height, or 123% */

  /* Neutrals/N600 */

  color: #344563;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.role {
  /* Text */

  /* Caption / 1 - Bolder */

  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;

  /* identical to box height, or 123% */

  /* Neutrals/N100 */

  color: #7a869a;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.year {
  /* Text */

  /* Caption / 1 - Bolder */

  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;

  /* identical to box height, or 123% */

  /* Neutrals/N100 */

  color: #7a869a;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.text {
  /* Primary Text */
  margin: 0;

  /* Body / 3 */

  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;

  /* or 160% */

  /* Neutrals/N600 */

  color: #344563;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.tags {
  /* Tags */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 8px;
  width: 203px;
  height: 24px;

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
}

.tags li {
  /* Tag */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 4px 12px;

  /* Button / Small */

  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;

  /* identical to box height, or 133% */

  letter-spacing: 0.03em;

  /* Primary/B400 */

  color: #6070ff;

  /* Primary/B50 */

  background: #ebebff;
  border-radius: 8px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.action {
  /* Inside auto layout */

  flex: none;
  order: 3;
  flex-grow: 0;
  padding: 12px 0 12px 0;
}

#about-my-self {
  /* About My Self */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 114px 24px;
  gap: 24px;
  background-color: #fff;
  border-top-right-radius: 100px;
}

.top {
  /* TOP */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 12px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.about-my-self-social-media {
  /* Social Media */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 16px;

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
}

.about-my-self-social-media-icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  justify-content: space-between;
  margin: 0;
  gap: 20px;
  height: 20px;
  padding: 10px;

  /* Inside auto layout */

  flex: none;
  order: 3;
}

button {
  /* Button / Enable */

  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;

  /* Theme 1 / Button Normal */

  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;

  /* identical to box height, or 141% */

  text-align: center;
  letter-spacing: 0.03em;

  /* Theme 1 / Primary Colors 2 */

  color: #6070ff;

  /* Theme 1 / Neutrals 11 */

  background: #fff;

  /* Theme 1 / Primary Colors 3 */

  border: 1px solid #7f8cff;
  border-radius: 8px;

  /* Inside auto layout */

  flex: none;
  order: 3;
}

button:hover {
  /* Button / Hover */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;

  /* Theme 1 / Primary Colors 2 */

  background: #6070ff;

  /* Theme 1 / Button Normal */

  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;

  /* identical to box height, or 141% */

  text-align: center;
  letter-spacing: 0.03em;

  /* Theme 1 / Neutrals 11 */

  color: #fff;

  /* Button/1 */

  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  border-radius: 8px;
}

button:focus {
  /* Button / Pressed */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;

  /* Theme 1 / Button Normal */

  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;

  /* identical to box height, or 141% */

  text-align: center;
  letter-spacing: 0.03em;

  /* Theme 1 / Neutrals 11 */

  color: #fff;

  /* Theme 1 / Primary Colors 1 */

  background: #2230d2;
  border-radius: 8px;
}

.skills {
  /* Skill List */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  width: -webkit-fill-available;
  padding: 0 0 0 12px;
  margin: 0;
  gap: 12px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.skills ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 0;
  list-style: none;
  padding: 0;
}

.language {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 26px 0 0;

  /* Body / 1 - Bolder */

  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  /* identical to box height, or 120% */

  color: #000;
}

.language-list {
  /* Langguage List */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 12px;

  /* Neutrals/N10 */

  background: #f7f7f9;
  border-radius: 8px;

  /* Body / 3 - Bolder */

  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;

  /* Neutrals/N700 */

  color: #253858;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.separator {
  height: 1px;
  left: 0;
  right: 0;
  bottom: 0;

  /* Neutrals/N40 */

  background: #dfe1e6;
}

.contact-me {
  display: flex;
  flex-direction: column;
  background: #6070ff;
  border-top-left-radius: 100px;
}

.contact-me-bg {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("img/contact-form-shapes-mobile.svg");
  background-repeat: no-repeat;
  background-position-x: right;
  margin-top: 21px;
  border-bottom-left-radius: 100px;
}

.contact-me-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding: 82px 24px 11px 24px;
}

.contact-me-title {
  /* Header / 2 */

  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;

  /* or 130% */

  display: flex;
  align-items: center;
  text-align: center;
  margin: 0;

  /* Neutrals/N0 */

  color: #fff;
}

.contact-me-paragraph {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;

  /* or 140% */

  text-align: center;
  margin: 0;

  /* Primary/B50 */

  color: #ebebff;
}

.contact-me-form {
  display: flex;
  flex-direction: column;
  padding-top: 45px;
  gap: 18px;
}

.input {
  /* Mono/White */

  /* Mono/White */

  background: #fff;

  /* Base/100 */

  border: 1px solid #cfd8dc;
  border-radius: 8px;
  width: inherit;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;

  /* or 118% */

  display: flex;
  align-items: center;
  padding: 15px 36px 15px 16px;

  /* Neutral/N800 */

  color: #172b4d;
}

.home-shape {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 21px 0 8px 0;
}

.frame-4 {
  /* Frame 4 */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  gap: 10px;

  /* Body / 3 - Bolder */
}

.frame-4 a {
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  text-align: center;

  /* Neutrals/N600 */

  color: #344563;
}

.item-navigation {
  /* Item Navigation */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  margin-right: 142px;
  padding: 0;
  gap: 8px;
}

#desktop-header {
  display: flex;
  flex-direction: column;
  left: 0;
  padding-top: 70px;
  top: 1px;
  border-bottom-left-radius: 100px;

  /* Neutrals/N0 */

  background: #fff;
}

#desktop-header-bg {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 48px;
  background-image: url("img/Header-bg.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 0 8px 200px 34.6px;
}

.desktop-header-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
  padding: 241px 252px 0 225.4px;
}

.desktop-text {
  /* Text */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  gap: 12px;
}

.desktop-text-title {
  /* Header / 1 */

  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  margin: 0;

  /* or 125% */

  display: flex;
  align-items: center;
  letter-spacing: 0.37px;

  /* Theme 1 / Neutrals 1 */

  color: #091e42;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.desktop-text-paragraph {
  /* Body / 1 */

  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  margin-top: 0;

  /* or 140% */

  /* Theme 1 / Neutrals 3 */

  color: #344563;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.desktop-text-supporting-text {
  /* Supporting Text */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px;

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
}

.desktop-text-supporting-text h2 {
  /* Body / 2 - Bolder */

  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin: 0;

  /* identical to box height, or 150% */

  /* Primary/B300 */

  color: #7f8cff;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.desktop-text-social-media {
  /* Social Media */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  padding: 0;
  justify-content: space-between;
  margin: 0;
  gap: 20px;
  height: 20px;

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
}

#desktop-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 142px;
  padding: 142px 142px;
}

.desktop-card-container {
  display: flex;
  flex-direction: row;
  padding: 24px 24px;
  gap: 22px;

  /* Neutrals/N0 */

  background: #fff;

  /* Neutrals/N40 */

  border: 1px solid #dfe1e6;
  border-radius: 24px;
}

.desktop-card-img {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
}

.desktop-block {
  /* Left Block */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  gap: 22px;
}

.desktop-card-primary-text-container {
  /* Primary Text */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 20px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.desktop-card-project-title {
  /* Header / 2 */

  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  margin: 0;

  /* or 130% */

  /* Theme 1 / Neutrals 1 */

  color: #091e42;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.desktop-frame-2 {
  /* Frame 2 */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  padding: 8px 0 8px 0;
  margin: 0;
  gap: 12px;
  list-style: none;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.desktop-frame-2-text {
  /* Text */

  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  padding: 0;

  /* identical to box height, or 133% */

  /* Theme 1 / Neutrals 3 */

  color: #344563;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.desktop-card-paragraph {
  /* Body / 2 */

  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 0;

  /* or 150% */

  /* Neutrals/N600 */

  color: #344563;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.desktop-tags {
  /* Tags */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  list-style: none;
  padding: 0;
  gap: 8px;

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
}

.desktop-tags li {
  /* Tag */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;

  /* Primary/B50 */

  background: #ebebff;
  border-radius: 8px;

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;

  /* Button / Small */

  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;

  /* identical to box height, or 133% */

  letter-spacing: 0.03em;

  /* Primary/B400 */

  color: #6070ff;
}

.desktop-action {
  /* Inside auto layout */
  display: flex;
  flex-direction: row;
  flex: none;
  order: 3;
  flex-grow: 0;
  padding-top: 16px;
}

#desktop-about-my-self {
  display: flex;
  flex-direction: row;
  border-top-right-radius: 100px;
  background: #fff;
  gap: 25px;
  padding: 142px 142px;
}

.desktop-about-my-self-block {
  /* Left Block */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 39%;
  padding: 0;
  gap: 24px;
}

.desktop-about-my-self-text {
  /* Text */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 12px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.desktop-about-my-self-block-title {
  /* Header / 2 */

  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;

  /* or 130% */

  display: flex;
  align-items: center;
  margin: 0;

  /* Theme 1 / Neutrals 1 */

  color: #091e42;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.desktop-about-my-self-block-paragraph {
  /* Body / 2 */
  display: flex;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  /* or 150% */

  /* Neutrals/N600 */

  color: #344563;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.desktop-about-my-self-social-media {
  /* Social Media */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 16px;

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
}

.desktop-about-my-self-supporting-text {
  /* Supporting Text */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 8px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.desktop-about-my-self-supporting-text h2 {
  /* Body / 2 - Bolder */

  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  /* identical to box height, or 150% */

  /* Primary/B300 */

  color: #7f8cff;
  margin: 0;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

#desktop-skill {
  /* Skill List */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  width: 59%;
  list-style: none;
}

.desktop-language {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 26px 0 24px;

  /* Body / 1 - Bolder */

  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  /* Theme 1 / Neutrals 3 */

  color: #344563;
}

.desktop-language-list {
  /* Langguage List */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 12px;
  list-style: none;

  /* Neutrals/N10 */

  background: #fff;
  border-radius: 8px;
}

.desktop-language-list-format {
  padding: 12px 12px 12px 20px;

  /* Neutrals/N10 */

  background: #f7f7f9;
  border-radius: 8px;

  /* Body / 3 - Bolder */

  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;

  /* or 133% */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  width: 13.72%;

  /* Neutrals/N700 */

  color: #253858;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

#desktop-contact-me {
  display: flex;
  flex-direction: column;
  background: #6070ff;
  border-top-left-radius: 100px;
  padding: 79px 75.3px;
}

#desktop-contact-me-bg {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("img/contact-form-background-shapes.svg");
  background-repeat: no-repeat;
}

.desktop-contactme-text-container {
  /* Text */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 12px;
  margin-top: 63px;
  width: 62%;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.desktop-contactme-title {
  /* Header / 2 */

  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;

  /* or 130% */

  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 0;

  /* Neutrals/N0 */

  color: #fff;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.desktop-contactme-paragraph {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;

  /* or 140% */

  text-align: center;
  width: 70%;
  margin-top: 0;

  /* Primary/B50 */

  color: #ebebff;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.desktop-form {
  /* Form */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 48px;
  gap: 27px;
  width: 55.7%;

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
}

.desktop-input {
  /* Mono/White */

  background: #fff;

  /* Base/100 solid #CFD8DC;
border-radius: 2px */

  border: 1px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;

  /* or 118% */

  display: flex;
  align-items: center;
  width: 99%;
  padding: 15px 38px 15px 16px;

  /* Neutral/N800 */

  color: #172b4d;
}

.desktop-input-text {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  border: 0;

  /* or 118% */

  display: flex;
  align-items: center;
  width: inherit;

  /* Neutral/N800 */

  color: #172b4d;
}

@media screen and (min-width: 768px) {
  .home-shape {
    display: none;
  }

  .mobile-button-placeholder {
    display: none;
  }

  .mobile-logo-placeholder {
    margin-left: 155px;
  }

  nav {
    top: 0;
    position: fixed;
    width: 100%;
    background: #fff;
  }

  #mobile-bg {
    display: none;
  }

  .grid-mobile {
    display: none;
  }

  #about-my-self {
    display: none;
  }

  .contact-me {
    display: none;
  }

  .overlay{
    display: none;
  }
}

@media screen and (max-width: 768px) {
  #desktop-header {
    display: none;
  }

  #desktop-grid {
    display: none;
  }

  #desktop-about-my-self {
    display: none;
  }

  .item-navigation {
    display: none;
  }

  #desktop-contact-me {
    display: none;
  }
}
